@charset "utf-8";
/* @import url("reset.css"); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}
/* font-family: 'Noto Sans KR', sans-serif; */

body {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    background-color: #fcf9ee;
}

ul { list-style: none;}
address {font-style: normal;}
img {vertical-align: top;}

a:link {text-decoration: none; color: inherit;}
a:visited {text-decoration: none; color: inherit;}
a:hover {text-decoration: none; color: inherit;}
a:active {text-decoration: none; color: inherit;}

.inner {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

/* header */

header { 
   height: 215px;
}

header h1 {
    width: 259px;
    margin: 95px auto;
}
header h1 a {
    display: block;
    height: 59px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#top_menu {
    display: flex;
    position: absolute;
    top: -70px; right: 0;
}

#top_menu li {
    margin: 0 22px ;
}

#top_menu li:last-child {
    margin-right: 0;
}

#top_menu img {
    height: 22px;
} 

#pc_nav {
    position: absolute;
    width: 100%;
    z-index: 10006;
}

#pc_nav #gnb {
    max-width: 1000px;
    margin: 0 auto ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#pc_nav  #gnb > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 23px;
    font-weight: 500;
}


.submenu {
    display: none;
    font-size: 19px;
}
.submenu a {
    display: block;
    height: 45px;
    line-height: 45px;
    transition: all 0.3s;
}

.submenu a:hover {
    opacity: 0.7;
}

#gnb_bg  {
    background-color:/* rgba(252,249,238,0.7)*/#fcf9ee;
    width: 100%;
    height: 190px;
    position: absolute;
    top: 299px;
    left: 0;
    z-index: 10005;
    display: none;
}

#ham {
    font-size: 25px;
    position: fixed;
    top: 15px;
    right: 20px;
    display: none;
    z-index: 10002;
}

#close {
    font-size: 25px;
    position: fixed;
    top: 16px;
    right: -50px;
}

/* 모바일 메뉴 */

#m_nav {
    display: none;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    z-index: 10000;
    text-align: right;
    padding-right: 20px;
    padding-top: 80px;
}


#m_gnb > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;   
}

.m_submenu {
    margin-bottom: 20px;
    display: none;
}

.m_submenu a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
}

.m_submenu a:hover {
    opacity: 0.7;
}



/* 모바일 메뉴 끝 */



.bx-wrapper {
    border: none;
    box-shadow: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #cfcece
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #8d8d8d;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #8d8d8d;
}

/* cont menu */
#cont_menu {
   
    padding-bottom: 50px ;
}

.title_wrap h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    padding: 40px 0;
}
a .txt_wrap p {
   font-stretch: wider;
}

a .txt_wrap h3 {
    font-size: 18px;
    font-weight: 300;
}

#m_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#m_list li {
    width: 25%;
    padding: 10px;

}

#m_list li a {
    display: block;
    height: 100%;

}


#m_list li .img_wrap img {
    width: 100%;
}

.txt_wrap h3 {
    margin-bottom: 8px;
}

.txt_wrap {
    
    text-align: center;
    margin: 24px auto;
}

.txt_wrap p span {
    font-family: "굴림";
}

#store_wrap {
    position: relative;
    height: 430px;
    overflow: hidden;
}

#store_wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 100%;
}

#btn_more {
    display: block;
    border: 1px solid #fff;
    width: 270px;
    height: 53px;
    line-height: 53px;
    background-color: rgba(140,140,140,0.7);
    font-size: 18px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%; top: 80%;
    transform: translate(-50%,-50%);
}


/* info */
#info {
  
    padding:85px 0;
}

#info_cont_wrap {
    
    
}

.info_cont {
   
    display:flex;
    align-items:center;
    flex-wrap: wrap;
}
.info_cont div {
    width:50%;
}

.info_cont .info_img_wrap img {
    width:100%;
}

.info_txt_wrap {
  padding: 0 6%;
}

.info_txt_wrap h3 {
    margin-bottom: 50px;
    font-size:28px;
    font-weight:400;
}


#info_cont_wrap .info_cont:nth-child(2) .info_txt_wrap {
  
    order: -1;
}

/* search */

#search_wrap {
    background-color: #d3ceca;
}

#search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sc_img_wrap {
    width: 50%;
}

#sc_img_wrap img {
    width: 100%;
}

#sc_txt_wrap {
    width: 50%;
    text-align:center;
}

#sc_txt_wrap p img {
    width: 15px;
    vertical-align: middle;
}




#sc_txt_s_wrap p {
    text-align: left;
    max-width: 430px;
    width: 100%;
    margin: 20px auto 10px;
}

#search-bar {
    position: relative;
    width: 100%;
    max-width: 432px;
    height: 42px;
    border: 1px solid #fff;
    background: transparent;
    padding-right: 40px;
    box-sizing: border-box;
    margin: 0 auto;
}



input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: #fff;
    padding: 10px ;
    font-size: 18px;
  }

  ::placeholder {
    color: #a09f9e;
  }
  
  ::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  
 #search-bar button {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 30px;
    height: 30px;
    border: none;
    background: url("../images/search-icon.png") no-repeat center center/contain;
    cursor: pointer;
  }

#sc_txt_wrap a {
    background-color: #fff;
    display: block;
    width: 230px;
    height: 44px;
    line-height: 44px;
    font-weight: 400;
    margin: 40px auto 0;
}


/* contents */

#contents {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    padding: 50px 0 80px;
}

#notice {
    width: 50%;
}

#notice h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom:45px ;
}

#notice li {
    height: 55px;
    line-height: 55px;
    background: url("../images/dot.gif") no-repeat 0 center;
    padding-left: 13px;
    display: flex;
    justify-content: space-between;
}

#notice li a{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notice li span {
    display: block;
    margin: 0 20px;
}

#event {
    width: 50%;
    height: 277px;
    text-align: center;
}

#event a img {
    width: 100%;
    height: 100%;
}


/* footer */

#ft_wrap {
    background-color: #ffffff;
}

footer {
    padding: 47px 0;
    font-weight: 400;
}

#c_logo {
    display: flex;
    margin-bottom: 30px;
}

#ft1 {
    margin-right: 20px;
}

#c_logo_b {
    display: flex;
    width: 355px;
}

#c_logo_b div {
    margin-right: 20px;
}

#c_logo #ft2 {
    width: 208px;
    text-align: center;
}

#c_logo #ft3 {
    font-weight: 500;
}


#add_wrap {
    
    line-height: 22px;
}

.btn_top {
    position: fixed;
    right: 30px;
    bottom:40px;
    font-size: 35px;
    display: none;
}
