#sub_v_wrap {
    height: 240px;
    background: url("/static/images/sub_menu_visual.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

#sub_v_wrap h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sub_v_wrap p {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
}

#sub_v_wrap div {
    height: 100%;
}

#sub_cont_wrap {
    padding: 50px 0;
}

#tab {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

#tab li {
    width: 204px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    margin: 0 10px;
    background-color: #d8d8d8;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

#tab li:hover {
    background-color: #ffffff;
    color: #000;
}

#tab li.on {
    background-color: #333;
    color: #ffffff;
}

/* 1코롱 */

#sub_m_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sub_m_list li {
    width: 25%;
    text-align: center;
    padding: 15px;
}

#sub_m_list li a {
    display: block;
    height: 100%;
}

/* 2배스앤바디 */

#sub_m_list2 {
    flex-wrap: wrap;
    justify-content: center;
}

#sub_m_list2 li {
    width: 25%;
    text-align: center;
    padding: 15px;
}

#sub_m_list2 li a {
    display: block;
    height: 100%;
}

/* 3홈프레그넌스 */

#sub_m_list3 {
    flex-wrap: wrap;
    justify-content: center;
}

#sub_m_list3 li {
    width: 25%;
    text-align: center;
    padding: 15px;
}

#sub_m_list3 li a {
    display: block;
    height: 100%;
}

/* 4맨즈 */

#sub_m_list4 {
    flex-wrap: wrap;
    justify-content: center;
}

#sub_m_list4 li {
    width: 25%;
    text-align: center;
    padding: 15px;
}

#sub_m_list4 li a {
    display: block;
    height: 100%;
}

.s_img_wrap img {
    width: 100%;
}

.s_txt_wrap h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 300;
}

.s_txt_wrap {
    margin: 20px auto;
}

.s_txt_wrap p span {
    font-family: "굴림";
}

ul.con {
    display: none;
}

.con.on {
    display: block;
}

.btn_top {
    position: fixed;
    right: 30px;
    bottom: 40px;
    font-size: 35px;
    display: none;
}